<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <%- include("partials/errors") %>
  <form action="/sign-up" method="POST">
    <label for="first">First Name</label>
    <input id="first" name="first" placeholder="Joe" type="text" required/>
    <label for="last">Last Name</label>
    <input id="last" name="last" placeholder="Smith" type="text" required/>
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" required/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" name="confirmPassword" type="password" required/>
    <button>Sign Up</button>
  </form>
  <ul>
    <li><a href="/log-in">Log In</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</body>
</html>
