h1 {
    text-align: center;
}

body {
    background-color: #1c1c1c;
    color: #e5e5e5;
    font-family: Arial, sans-serif;
}

form {
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e5e5e5;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b81d24;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #e5e5e5;
}

button {
    text-align: center;
    background-color: #b81d24;
    color: #e5e5e5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    font-weight: bold;
    background-color: #d12c2f;
}

a {
    color: #e5e5e5;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 20px auto;
}

@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
        margin: 0;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    button {
        width: 95%;
    }
}